@import './base.css';

#app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}